@font-face {
  font-family: gobmx;
  src: url(../gobmx/GMX.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../gobmx/Montserrat/Montserrat-Regular.ttf);
}
body {
  font-family: Montserrat, "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  line-height: 1.428;
  color: #545454;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  line-height: 1.1;
}

 @media only screen and (max-width: 991px) {
      .container h1{font-size:2em;}
    }
 @media only screen and (max-width: 770px) {
      .container h1{font-size:1.5em;}
    }
 @media only screen and (max-width: 480px) {
      .container h1{font-size:1.2em;}
    }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.plecaOrgano {
  background-color: #008275;
  height: 30px;
  padding: -5px auto 0 auto;
  color: white;
  margin-top: 160px;
  text-align: center;
  font-size: 14px;
}

.textopleca {
  margin-top: -10px;
}

/* header */
header {
  display: block;
  z-index: 10;
}
.logoC {
  position: absolute;
  z-index: 31;
  top: 10px;
  width: 30%;
  left: 30%;
}

/* menu */

.container-fluid {
  padding: 0 15px;
  z-index: 20;
  background-color: #88bfb1;
  color:#0B3B2E;
  position: relative;
  background-repeat: no-repeat;
  background-position: 80% 15%;
  width: 100%;
  background-size: 20%;
  font-weight: bold;
}
.container-fluid .logo,
.container-fluid .navbar-collapse {
}
.container-fluid .logoA {
  width: 20%;
  height: 100%;
  display: inline-block;
}
.container-fluid .logoA a {
  display: block;
  height: 40px;
}
.container-fluid .logoA a:hover {
}
.container-fluid .logoA img {
  height: 100%;
  max-width: 100%;
}
.plecaOrgano {
  background-color: #29534e;
  color: white;
  text-align: left;
  margin: 0;
  height: auto;
  padding: 10px 0;
  z-index: 30;
  position: relative;
  padding-left: 20px;
}
.carousel {
  z-index: 10;
}
.container-fluid a {
  color: #0B614B;
  margin-right: 3px;
  font-size: 24px;
}
.container-fluid a:hover {
  color: aquamarine;
  text-decoration: none;
}
.container-fluid a:active {
  font-style: bold;
  text-decoration: none;
}

/* barra uno */
nav.navbar-gob {
  background-color: #0b231e;
}
nav.navbar-gob a {
  text-decoration: none;
  color: white;
}
nav.navbar-gob .container {
}
nav.navbar-gob .container .navbar-header,
nav.navbar-gob .container .navbar-collapse {
  display: block;
}
nav.navbar-gob .container .collapse:not(.show) {
  display: block;
}
nav.navbar-gob .container .navbar-header {
  width: 20%;
}
nav.navbar-gob .container .navbar-header .navbar-toggle {
  width: 30px;
  height: 60px;
  background-color: transparent;
  vertical-align: middle;
  border: 0;
  background-image: url("../images/header/mobile-gris.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
nav.navbar-gob .container .navbar-collapse {
  flex-basis: 80%;
  text-align: right;
}
nav.navbar-gob .container .navbar-collapse .navbar-right {
  flex-direction: row;
  display: inline-flex;
}
nav.navbar-gob .container .navbar-collapse .navbar-right li {
}
nav.navbar-gob .container .navbar-collapse .navbar-right li a {
  padding: 10px 15px;
  display: block;
}
nav.navbar-gob .container .navbar-collapse .navbar-right li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #d4c19c;
}

/* barra dos */
nav.navbar-colbach {
  background-color: #13322b;
}
nav.navbar-colbach a {
  text-decoration: none;
  color: white;
}
nav.navbar-colbach .container {
}
nav.navbar-colbach .container .navbar-header {
  width: 20%;
  flex-basis: 20%;
  display: inline-flex;
}
nav.navbar-colbach .container .navbar-header .navbar-toggle {
  width: 30px;
  height: 60px;
  background-color: transparent;
  vertical-align: middle;
  border: 0;
  background-image: url(../images/header/mobile-gris.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
nav.navbar-colbach .container .navbar-header .collapsed:not(.show) {
  display: none;
}
nav.navbar-colbach .container .navbar-collapse {
  display: block;
}
nav.navbar-colbach .container .navbar-collapse {
  flex-basis: 80%;
  text-align: right;
}
nav.navbar-colbach .container .navbar-collapse .navbar-right {
  flex-direction: row;
  display: inline-flex;
}
nav.navbar-colbach .container .navbar-collapse .navbar-right li {
}
nav.navbar-colbach .container .navbar-collapse .navbar-right li a {
  padding: 10px 15px;
  display: block;
}
nav.navbar-colbach .container .navbar-collapse .navbar-right li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #d4c19c;
}

/* barra tres */

nav.navbar-gaceta .container {
}
nav.navbar-gaceta .container .navbar-toggle {
  width: 30px;
  height: 60px;
  background-color: transparent;
  vertical-align: middle;
  border: 0;
  background-image: url(../images/header/mobile-gris.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
nav.navbar-gaceta .collapse:not(.show) {
  display: inline-flex;
}
nav.navbar-gaceta .navbar-collapse {
  position: relative;
  height: 50px;
  flex-basis: 80%;
  vertical-align: middle;
}

nav.navbar-gaceta .navbar-collapse .navbar-nav {
  display: table;
  width: auto;
  position: absolute;
  right: 0;
}
nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item {
  display: table-cell;
  padding: 0 10px;
}
nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item span{
  cursor: pointer;
}
nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li .nav-link{
  font-weight: 300;
}

/* habilitando submenus */
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 400px;
      position: absolute;
      display: none;
      margin-left: -100px;
      margin-top: 8px;
      z-index: 10000;
      background-color: #13322b;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li{
      display: block;
      /*color: rgba(255,255,255,.5);*/
      font-size: 1em;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li .nav-link{
      font-size: 1em;
      color:#1C1C1C;
      margin-left: 10px;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li .nav-link .icon{
      display: inline-block;
      width: 25px;
      max-height: 25px;
      margin-right: 5px;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li .nav-link .icon img{
      width: 100%;
      display: block;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item:hover ul{
      display: block;
      /*width: 100%;*/
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li:hover{
      background-color: #ffe3c7;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li .nav-link:hover{
      background-color: #ffe3c7;
  }
/* fin habilitando submenus */

@media only screen and (max-width: 770px) {
  /* barra uno */
    nav.navbar-gob .container {
      max-width: 100%;
      position: relative;
      padding: 0;
    }
    nav.navbar-gob .container .navbar-header {
      width: 100%;
      display: block;
      margin: 0;
    }
    nav.navbar-gob .container .navbar-header .navbar-toggle {
      float: left;
      display: block;
    }
    nav.navbar-gob .container .navbar-header .navbar-brand {
      float: right;
    }
    nav.navbar-gob .container .navbar-collapse {
      text-align: center;
      flex-basis: 100%;
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      z-index: 99;
      background-color: #0b231e;
    }
    nav.navbar-gob .container .collapse:not(.show) {
      display: none;
    }
    nav.navbar-gob .container .navbar-collapse .navbar-right {
      flex-direction: column;
    }
  /* barra dos */
    nav.navbar-colbach .container {
      max-width: 100%;
      position: relative;
      padding: 0;
    }
    nav.navbar-colbach .container .navbar-header {
      width: 100%;
      display: block;
      margin: 0;
      flex-basis: 100%;
    }
    nav.navbar-colbach .container .navbar-header .navbar-toggle {
      float: left;
      display: block;
    }
    nav.navbar-colbach .container .navbar-header .navbar-brand {
      float: right;
    }
    nav.navbar-colbach .container .navbar-header .collapsed:not(.show) {
      display: block;
    }
    nav.navbar-colbach .container .navbar-collapse {
      text-align: center;
      flex-basis: 100%;
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      z-index: 99;
      background-color: #13322b;
    }
    nav.navbar-colbach .container .collapse:not(.show) {
      display: none;
    }
    nav.navbar-colbach .container .navbar-collapse .navbar-right {
      flex-direction: column;
    }
  /* barra tres */
  .container-fluid{
    position: inherit;
  }
  nav.navbar-gaceta .container {
    max-width: 100%;
    position: inherit;
    padding: 0;
  }
  nav.navbar-gaceta .container .navbar-toggle {
    display: block;
  }
  nav.navbar-gaceta .container .navbar-header {
    width: 100%;
    display: block;
    margin: 0;
  }
  nav.navbar-gaceta .container .navbar-header .navbar-toggle {
    float: left;
    display: block;
  }
  nav.navbar-gaceta .container .navbar-header .navbar-brand {
    float: right;
  }
  nav.navbar-gaceta .container .navbar-collapse {
    text-align: center;
    flex-basis: 100%;
    position: absolute;
    top: 135px;
    left: 5%;
    right: 5%;
    z-index: 99;
    background-color: #13322b;
    height: 75%;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid #aaaaaa;
  }
  nav.navbar-gaceta .container .collapse:not(.show) {
    display: none;
  }
  nav.navbar-gaceta .container .navbar-collapse .navbar-right {
    flex-direction: column;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav {
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item {
    display: block;
    text-align: left;
    color: rgba(255,255,255,.5);
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item span{
    padding-left: 20px;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .separadormenu {
    display: none;

  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-link {
    text-align: left;
    padding-left: 20px;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul{
    display: block;
    margin: 0;
    margin-left: 10%;
    width: 85%;
    position: initial;
  }
  nav.navbar-gaceta .navbar-collapse .navbar-nav .nav-item ul li{
    text-align: left; 
  }
}

/*index */

.listmenu li{}


/*estilos card*/

.bodyCard {
  display: flex;
}

.titCard {
  color: #008476;
  padding: 10px 0 0 10px;
}

.titCard2 {
  color: #008476;
  padding: 15px 0 20px 10px;
  text-align: center;
}

.fechaNota {
  padding: 0 0 5px 10px;
}

.textNota {
  padding: 0 0 5px 10px;
}

.botoncard {
  background-color: #4caea9;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-bottom: 10px;
}

.botoncard a {
  color: white;
}

.footerCard {
  padding: 0;
}

.footerCard a {
  color: #fff;
  border: none;
}

/*caption*/

.bgCaption {
  background-color: #03463e;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  /*width: 100%;
    /*margin-left: 40%;*/
  margin-bottom: 30px;
  /*text-align: left;*/
  padding: 15px 35px;
}

.bgCaption a {
  color: #fff;
}

.bgCaption a:hover {
  color: darkgoldenrod;
}

/*estilos slider*/

.circles li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.btnSlider {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #0b614b;
  margin: -10px 30px;
  /*    margin-left: 30px;*/
  /*    margin-right: 30px;  */
  border-style: solid;
  border-bottom-color: white;
}

/*cuerpo textos*/
.linksFooter a {
  color: aqua;
  text-decoration: none;
  font-size: 16px;
}

.linksFooter a:hover {
  color: aquamarine;
  text-decoration: underline;
}

.linksFooter a:visited {
  color: aqua;
  text-decoration: none;
}

.icons {
  width: 60px;
  margin: 10px auto 10px 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .icons {
    width: 60px;
    margin: 10px auto 0 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) {
  .icons {
    width: 40px;
    margin: 0 auto 10px auto;
  }
}

/*cuerpo textos*/

.capitalLetter {
  float: left;
  color: #272829;
  background: #dddddd;
  /*   border:1px solid #999999;*/
  font-size: 60px;
  line-height: 60px;
  padding: 2px;
  font-family: gobmx;
  margin-right: 5px;
}

.modal-footer {
  border-radius: 8px;
  width: 100%;
  color: black;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.81);
  bottom: 0;
  text-align: center;
  font-size: 21px;
}

.imagen {
  width: 100%;
  height: 150px;
}
.imagen:hover {
  cursor: pointer;
  width: 100%;
}
.cerrar {
  color: darkred;
  border-radius: 6px;
  right: 0;
  font-size: 40px;
  position: absolute;
  z-index: 100;
  padding: 12px;
}

.cerrar:hover {
  font-size: 50px;
  cursor: pointer;
}

.contFoto {
  position: relative;
  width: 100%;
}

.stFotothum {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.contFoto:hover .stFotothum {
  opacity: 0.3;
}

.cajaTex {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contFoto:hover .cajaTex {
  opacity: 1;
  cursor: pointer;
}

.btnAmp {
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  background-color: black;
}

/*estilos generales*/

.interiorTitulos {
  font-family: inherit;
  color: inherit;
  font-weight: 600;
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 12.5px;
  margin: 0.67em 0;
  box-sizing: border-box;
}

.historico {
  font-size: 16px;
  color: inherit;
}

.historico a {
  font-size: 18px;
  color: inherit;
}

.linkbcrumb li a {
  color: #2c2c2b;
}

.activo {
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.boldbread {
  font-weight: bold;
}

.styBTN {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 300;
  align-items: flex-start;
  margin-top: 20px;
  background-color: #008275;
  margin-top: 15px;
}

.styBTN a {
  color: white;
}

.styBTN a:hover {
  color: aquamarine;
  text-decoration: none;
}

.imgPortada {
  border: 2px solid #dddddd;
  width: 350px;
}

.listadoGacetas {
  margin: 0 auto;
  font-size: 18px;
}

.fo_links a {
  color: #58fad0;
  font-size: 16px;
}

.fo_links a:hover {
  color: #00ffff;
}

.fo_links a:visited {
  color: #58fad0;
}

.logo-plantel {
  width: 250px;
}

.sliderPrueba {
}

/*directorio*/

.nombres {
  font-weight: bold;
  color: #29534e;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.separadormenu {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-top: 10px;
  background-image: url("../images/header/separador.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

/*footer gob*/

.footergob {
  background-color: #13322b;
  height: 150px;
  color: #fff;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 150px;
}

.footergob .list-info {
}
.footergob .list-info .container {
}
.footergob .list-info .container .row {
}
.footergob .list-info .container .row .col-sm-3 {
}
.footergob .list-info .container .row img {
}
.footergob .list-info .container .row ul {
  list-style: none;
}
.footergob .list-info .container .row ul li {
}
.footergob .list-info .container .row h5 {
}
.footergob .list-info .container .row p {
}
.footergob .list-info .container .row a {
  color: #fff;
}
.footergob .list-info .container .row a:hover {
  color: #0056b3;
}

.footer-pleca {
  background-image: url("gobmx/pleca.png");
  background-color: #81f7f3;
  background-repeat: repeat-x;
  height: 50px;
}

.fondopleca {
  background-image: url("gobmx/pleca.png");
  background-color: #81f7f3;
  background-repeat: repeat-x;
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1205px) {
}
@media only screen and (max-width: 991px) {
  .footergob {
    height: auto;
  }
  .footergob .list-info .container .row .col-sm-3 {
    width: 50%;
    max-width: 50%;
    flex: 0 0 50%;
    padding-top: 20px;
  }
  .footergob .list-info .container .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 770px) {
}
@media only screen and (max-width: 600px) {
  .footergob .list-info .container .row .col-sm-3 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}

/* submenu */
.mn_cntrl {
  margin-bottom: 10px;
  position: relative;
}
.mn_cntrl .circulo,
.mn_cntrl .h5padre {
  display: inline-block;
  color: #007bff;
}

.mn_cntrl .circulo {
}
.mn_cntrl .h5padre {
  width: 120px;
  margin-left: 19px;
  vertical-align: middle;
}

.mn_cntrl .mn_opc {
  display: none;
  margin-left: 150px;
  background-color: #e0e6f8;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  z-index: 99;
  margin-top: -10px;
}
.mn_cntrl .mn_opc ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mn_cntrl .mn_opc ul li {
}
.mn_cntrl .mn_opc ul li a {
  display: block;
}
.mn_cntrl .width50 {
  width: 50%;
}
.mn_cntrl:hover .mn_opc {
  display: block;
}

@media only screen and (max-width: 600px) {
  .mn_cntrl .mn_opc {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 90%;
  }
}

/*tablas orientaciones*/
.tablabasi-esp {
  /* background-color:#E6E6E6;
    border-radius: 3px;
*/
}
.tablabasi-esp li a {
  color: #0b615e;
}
.tablabasi-esp h1 {
}

.tablaLab li a {
  color: #0b615e;
}

.fEspecifica {
  padding: 10px;
  background-color: #b52967;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.fEspecifica2 {
  padding: 10px;
  background-color: #ca5116;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.flaboral {
  padding: 10px;
  background-color: #8556a1;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.flaboral2 {
  padding: 10px;
  background-color: #581c0c;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.bgcaja {
  background-color: #e6e6e6;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 0 10px 20px;
}

.headsec1 {
  background-color: #2e64fe;
  color: #fff;
  text-align: center;
  padding: 10px auto;
}
.bdsec {
  background-color: #e0ecf8;
  padding: 20px;
}

.bdsec2 {
  padding: 20px;
}

.listmat li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #fff;
  margin-bottom: 5px;
}

.listmat li a {
  padding: 10px;
}

.listmat2 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #2e64fe;
  margin-bottom: 5px;
}

.listmat2 li a {
  padding: 10px;
  color: #fff;
}

.listmat3 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #fe9a2e;
  margin-bottom: 5px;
}

.listmat3 li a {
  padding: 10px;
  color: #fff;
}

.listmat4 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #04b4ae;
  margin-bottom: 5px;
}

.listmat4 li a {
  padding: 10px;
  color: #fff;
}

.listmat5 li {
  padding: 10px;
  padding-left: 15%;
  list-style: none;
  background-color: #844685;
  margin-bottom: 5px;
}

.listmat5 li a {
  padding: 10px;
  color: #fff;
}

.listmat6 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: rgba(179, 51, 127, 1);
  margin-bottom: 5px;
}

.listmat6 li a {
  padding: 10px;
  color: #fff;
}

.listmat7 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #4b8a08;
  margin-bottom: 5px;
}

.listmat7 li a {
  padding: 10px;
  color: #fff;
}

.listmat8 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #ff5f40;
  margin-bottom: 5px;
}

.listmat8 li a {
  padding: 10px;
  color: #fff;
}
.listmat9 li {
  padding: 10px;
  padding-left: 20%;
  list-style: none;
  background-color: #562349;
  margin-bottom: 5px;
}

.listmat9 li a {
  padding: 10px;
  color: #fff;
}

/* infos */
.infos ul {
  width: 100%;
  overflow: hidden;
}
.infos li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  width: 33%;
  float: left;
  margin-bottom: 20px;
  height: 290px;
}

.infos li .popup_image_header {
  display: block;
}
.infos li .popup_image_header img {
  width: 100%;
}

.infos li .popup_image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.infos li .popup_image .img {
  display: block;
  position: relative;
  overflow-y: scroll;
  height: 80%;
  width: 90%;
  margin: 5% auto 0;
  background-color: white;
}
.infos li .popup_image .img img {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .infos li {
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
  }
}
@media only screen and (max-width: 770px) {
  .infos li {
    width: 50%;
  }
  .infos li {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  /*.infos li {height: 200px;}*/
}
@media only screen and (max-width: 480px) {
  .infos li {
    width: 100%;
  }
  .infos li {
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
}

/* colores para "Recomendaciones para el estudio en casa" */
.morado {
  border: 7px solid #d95b71;
}
.naranja {
  border: 7px solid #fd7b1d;
}
.verde {
  border: 7px solid #b5d01f;
}
.azul {
  border: 7px solid #1a9cc0;
}

.verde-azul {
  border: 7px solid #009899;
}

.azul-face {
  border: 7px solid #1149a6;
}

.azul-estudio {
  border: 7px solid #4257b2;
}

/*iconos listado tiempo libre*/
.img-modal {
  width: 100%;
}

/*iconos listado tiempo libre*/
.circulo {
  width: 110px;
  height: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  margin: 0 auto;
}

.cuadrado {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 40% 0 40%;
  padding-top: 8px;
}

.filedownload {
  border: 0;
  overflow: hidden;
  margin: 15px 0;
}
.icopdf {
  width: 62px !important;
  background-color: transparent;
}
.icopdf img {
  width: 100%;
}

.fbe .title-list_pr,
.fl .title-list_pr {
  background-color: #57d2dc;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
}
.fbe .title-list_pr2,
.fl .title-list_pr2 {
  background-color: #944dc2;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
}
.fbe ul,
.fl ul {
  list-style-type: none;
  border: 2px solid #e6e6e6;
  padding: 20px;
  border-radius: 10px;
}
.fbe ul li a,
.fl ul li a {
  background-image: url(pdf.svg);
  padding: 0;
  padding-left: 30px;
  background-position: left;
  background-size: 3%;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  display: block;
}
.fbe .title-list,
.fl .title-list {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.fondoCor {
  background-image: url(bg-corona.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.logp {
  height: 80px;
}

.plantel-caja {
  margin-bottom: 15px;
}
.plantel-caja img {
}

.cajaSecciones {
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: 20px;
  margin: 5% auto 20% auto;
  width: 70%;
}

.cajaSecciones li {
  padding: 10px;
}

/* planteles */
.size_dinamic {
  display: inline-block;
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
  /*margin-right: 5%;*/
}
.size_dinamic a {
  display: block;
}
.size_dinamic a img {
  max-width: 100%;
}
@media only screen and (max-width: 770px) {
  .size_dinamic {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .size_dinamic {
    width: 100%;
  }
}

.estrategia_aislamiento {
  margin-bottom: 40px;
}
.estrategia_aislamiento .border {
  border: 0 !important;
  padding: 10px 30px;
  display: flex;
}
.estrategia_aislamiento .border img,
.estrategia_aislamiento .border a {
}
.estrategia_aislamiento .border img {
  padding: 0;
  width: 10%;
  height: 50px;
}
.estrategia_aislamiento .border a {
  padding: 0;
  width: 90%;
  text-align: left;
  color: #008476;
}
.estrategia_aislamiento .border a h5 {
  display: block;
}

/* combo 480 */
/* formacion actualizacion docente responsivo */

.fad .fab_btn {
  display: none;
}

@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 770px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 480px) {
  .fad {
  }
  .fad .fad_img {
  }
  .fad .fad_img img {
    width: 70%;
    height: auto;
  }
  .fad .btn-group {
    width: 100%;
    position: initial;
    display: block;
  }
  .fad .btn-group .btn {
    display: none;
  }

  .fad .dropdown-menu {
    position: initial !important;
    display: block;
    opacity: 1;
    float: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
    transform: none !important;
  }

  .fad .dropdown-menu ul {
  }
  .fad .dropdown-menu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .fad .dropdown-menu ul li a {
    white-space: initial;
  }
  .fad .dropdown-menu ul ul {
    display: block;
    position: initial;
    margin: 0;
    padding-left: 40px;
    border: 0;
    background-color: transparent;
  }
  .fad .dropdown-menu ul ul li {
    background-color: #eeeeee;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 98%;
  }
  .fad .dropdown-menu ul ul li a {
    padding: 0.375rem 0.5rem;
  }
  .fad .fad_naranja .fab_btn,
  .fad .fad_cafe .fab_btn {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    color: white;
  }
  .fad .fad_naranja .fab_btn {
    background-color: #ff9234;
  }
  .fad .fad_cafe .fab_btn {
    background-color: #7c3c21;
  }
}
@media only screen and (max-width: 320px) {
}

/* icons */
/* icons lobos lobas*/
.cont-icons {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.cont-icons .icon1,
.cont-icons .icon3,
.cont-icons .icon4,
.cont-icons .icon5{
  display: block;  
}
.cont-icons .icon1 img,
.cont-icons .icon3 img,
.cont-icons .icon4 img,
.cont-icons .icon5 img{
 width: 70%;
}

.cont-icons2 {}
.icon2{
  margin-top: 20px;
}
.icon2 img{
  display: block; 
  margin: 0 auto;
  width: 120px;
}
.boton-disp{
  width: 20%;
  display: block;
  margin: 0 auto;
}



@media only screen and (max-width: 991px){
  .cont-icons {
  width: 100%;
}
}
@media only screen and (max-width: 770px){
    .boton-disp{
    width: 30%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px){
    .icon2 img{
    display: block; 
    margin: 0 auto;
    width: 100px;
    }
  .boton-disp{
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px){
    .cont-icons {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
  }
  .cont-icons .icon3 img,
  .cont-icons .icon4 img,
  .cont-icons .icon5 img{
    width: 100px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 20px;
  }
   .cont-icons .icon1 img{
    width: 120px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
}

/*index  home*/

 @media only screen and (max-width: 991px) {
      .subtitulo h3{font-size:1.2em;}
    }
    @media only screen and (max-width: 770px) {
      .subtitulo h3{font-size:1em;}
    }
    @media only screen and (max-width: 480px) {
      .subtitulo h3{font-size:0.9em;}
    }




.debug {
  display: block;
  height: 5px;
  display: none;
}


/*
@media only screen and (max-width: 1280px) { .debug{background-color: yellow;display: block;} }
@media only screen and (max-width: 1205px) { .debug{background-color: red;display: block;} }
@media only screen and (max-width: 991px) {  .debug{background-color: orange;display: block;} }
@media only screen and (max-width: 770px) {  .debug{background-color: blue;display: block;} }
@media only screen and (max-width: 600px) {  .debug{background-color: green;display: block;} }
@media only screen and (max-width: 480px) {  .debug{background-color: cyan;display: block;} }
@media only screen and (max-width: 320px) {  .debug{background-color: black;display: block;} }
*/
