/* Carrusel Morgan v1.0 */

.crrslM{display: block;margin: 2% auto;}
.crrslM .crrslM_cont{display: block;position: relative;}
.crrslM .crrslM_cont .crrslM_elem{}
.crrslM .crrslM_cont .crrslM_elem img{width: 100%;}
.crrslM .crrslM_cont .crrslM_button {width: 50px;height: 100%;position: absolute;top: 0;display: flex;background-color: rgba(255,255,255,0.4);cursor: pointer;}
.crrslM .crrslM_cont .cm_preview{left:0;}
.crrslM .crrslM_cont .cm_next{right: 0;}
.crrslM .crrslM_cont .cm_preview .ico,
.crrslM .crrslM_cont .cm_next .ico {width: 30px;height: 30px;transform: rotate(45deg);margin: auto;vertical-align: middle;}
.crrslM .crrslM_cont .cm_preview .ico{border-bottom: 10px solid black;border-left: 10px solid black;margin-right: 0;}
.crrslM .crrslM_cont .cm_next .ico{border-top: 10px solid black;border-right: 10px solid black;margin-left: 0;}
.crrslM .crrslM_thumbs {display: block;height: 85px;position: relative;}
.crrslM .crrslM_thumbs .crrslM_thumbs_cont,
.crrslM .crrslM_thumbs .crrslM_thumbs_left,
.crrslM .crrslM_thumbs .crrslM_thumbs_rigth{overflow: hidden;}
.crrslM .crrslM_thumbs .crrslM_thumbs_left,
.crrslM .crrslM_thumbs .crrslM_thumbs_rigth {position: absolute;width: 7%;height: 60px;top: 10px;display: block;}
.crrslM .crrslM_thumbs .crrslM_thumbs_cont {width: 84%;top: 10px;position: absolute;left: 8%;height: 60px;}
.crrslM .crrslM_thumbs .crrslM_thumbs_left{left:0;}
.crrslM .crrslM_thumbs .crrslM_thumbs_rigth{right: 0;}
.crrslM .crrslM_thumbs .crrslM_thumbs_left .ico,
.crrslM .crrslM_thumbs .crrslM_thumbs_rigth .ico {height: 20px;width: 20px;transform: rotate(45deg);margin: 35% auto;display: block;}
.crrslM .crrslM_thumbs .crrslM_thumbs_left .ico{border-bottom: 8px solid black;border-left: 8px solid black;}
.crrslM .crrslM_thumbs .crrslM_thumbs_rigth .ico {border-top: 8px solid black;border-right: 8px solid black;}
.crrslM .crrslM_thumbs ol {margin: 0;padding: 0;list-style-type: none;height: 100%;display: block;}
.crrslM .crrslM_thumbs ol li {width: 19%;height: 100%;display: inline-block;opacity: 0.5;vertical-align: top;}
.crrslM .crrslM_thumbs ol li .crrslM_thumb {display: block;position: relative;}
.crrslM .crrslM_thumbs ol li .crrslM_thumb img {width: 100%;height: 100%;}
.crrslM .crrslM_thumbs ol li .crrslM_thumb span {display: none;}
.crrslM .crrslM_thumbs ol li .crrslM_thumb span {background-color: black;color: white;position: absolute;left: 0;padding: 3px 15px;}
.crrslM .crrslM_thumbs ol li:hover {}
.crrslM .crrslM_thumbs ol li.active {opacity: 1;}
.crrslM .crrslM_thumbs ol li.active .crrslM_thumb{}
.crrslM .crrslM_thumbs ol li.active .crrslM_thumb img{}


@media screen and (max-width:991px) {
	.crrslM{}
}
@media screen and (max-width:768px) {
	.crrslM{width: 100% !important;}
	.crrslM .crrslM_cont .cm_preview .ico, 
	.crrslM .crrslM_cont .cm_next .ico{
		width: 25px;
    	height: 25px;
	}
}
@media screen and (max-width:600px) {
	.crrslM{}
}
@media screen and (max-width:480px) {
	.crrslM{}
	.crrslM .crrslM_thumbs {}
	.crrslM .crrslM_thumbs ol {
	    width: 200px;
	    height: 35px;
	    margin: 3% auto;
	}
	.crrslM .crrslM_thumbs ol li {
	    border-radius: 50%;
	    overflow: hidden;
	    width: 30px;
	    height: 30px;
	    margin-right: 5px;
	}
	.crrslM .crrslM_thumbs ol li .crrslM_thumb {height: 100%;}
	.crrslM .crrslM_cont .cm_next{display: none;}
	.crrslM .crrslM_cont .cm_preview{display: none;}
	.crrslM .crrslM_thumbs .crrslM_thumbs_left, .crrslM .crrslM_thumbs .crrslM_thumbs_rigth{
		    width: 15%;
	}
	.crrslM .crrslM_thumbs .crrslM_thumbs_left .ico, .crrslM .crrslM_thumbs .crrslM_thumbs_rigth .ico{
		margin: 20% auto;
	}
}
