
	<ul>
		<li><a href="2do-semestre/actividades-fisicas-y-deportivas-II.pdf" title="">Actividades f&iacute;sicas y deportivas II</a></li>
		<li><a href="2do-semestre/apreciacion-artistica-II.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/ciencias-sociales.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/etica.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/fisica-II.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/ingles-II.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/lenguaje-y-comunicacion-II.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/matematicas-II.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/quimica-I.pdf" title="">archivo_00</a></li>
		<li><a href="2do-semestre/tic-II.pdf" title="">archivo_00</a></li>
	</ul>
	<ul>
		<li><a href="4to-semestre/biologia-I.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/geografia-II.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/historia-de-mexico-II.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/ingles-IV.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/literatura-II.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/matematicas-IV.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/orientacion-II.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/quimica-III.pdf" title="">archivo_00</a></li>
		<li><a href="4to-semestre/tic-IV.pdf" title="">archivo_00</a></li>
	</ul>
	<ul>
		<li><a href="6to-semestre/ciencia-y-tecnologia-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/ecologia.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/esem-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/humanidades-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/ingenieria-fisica-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/ingles-VI.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/interdisciplina-artistica-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/matematicas-VI.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/problemas-filosoficos.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/procesos-industriales.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/proyectos-de-gestion-social-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/proyectos-de-inversion-II.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/salud-humana.pdf" title="">archivo_00</a></li>
		<li><a href="6to-semestre/tapt-II.pdf" title="">archivo_00</a></li>
	</ul>
